<!DOCTYPE html>
<html>
<head>
<title>Sample_app</title>
<head/>
<body>
<h1>Ruby On Rails App: sample_app</h1>
<p><em><a href="http://railstutorial.org">RubyOnRails Tutorial</a></em> By</br >
<strong><a href="http://michaelhartl.com">Michael J. Hartl</a></strong> </br >
<body/>
</html>
